@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lato:wght@300&family=Lumanosimo&display=swap');

:root {
    --main-bg-color: #37c28a;


}

* {
    margin: 0;
    padding: 0;
}


header {
    background-color: var(--main-bg-color);
}

nav {
    display: flex;

}

.cart {
    display: flex;
    height: 70px;
    width: 175px;
}

.cart img{
    width: 175px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    height: 70px;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;

}

nav ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
}

nav ul li a:hover {
    /* color: red; */
    font-weight: bolder;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    height: 23px;
    width: 30vw;
    border-radius: 5px;
    margin: 0 56px;
}



.container {
    min-height: calc(100vh - 70px - 12vh);
}

.slider{
   margin:12px auto;
   width: 80vw;
   overflow: hidden;
}

.card{
    max-width: 91vw;
    margin: auto;
    justify-content: center;
}

.my-1{
    margin: 6px 0;
    font-family: 'Baloo 2', cursive;
}

.card h2{
    font-family: 'Baloo 2', cursive;
}

.card-item{
    display:inline-flex;
    justify-content: center;
    flex-direction: column;
}

.card-item img{
    width: 270px;
    height: 200px;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: black;
    font-family: 'Baloo 2', cursive;

}