.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
   padding: 5px 10px; 
   color: black;
   background-color: var(--main-bg-color);
   border-radius: 7px;
   border: 2px solid black;
   cursor: pointer;
}